.alerts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.alert {
  max-width: 1092px;
  padding: 30px 45px;
  border-left: 6px solid var(--default-color);
  background-color: var(--default-bg-color);
}
.alert.success-alert {
  border-left: 6px solid var(--success-color);
  background-color: var(--success-bg-color);
}
.alert.danger-alert {
  border-left: 6px solid var(--danger-color);
  background-color: var(--danger-bg-color);
}
.alert.warning-alert {
  border-left: 6px solid var(--warning-color);
  background-color: var(--warning-bg-color);
}
.alert.info-alert {
  border-left: 6px solid var(--info-color);
  background-color: var(--info-bg-color);
}
.alert.primary-alert {
  border-left: 6px solid var(--primary-color);
  background-color: var(--primary-bg-color);
}
.alert.default-alert {
  border-left: 6px solid var(--default-color);
  background-color: var(--default-bg-color);
}
.alert__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.alert__icon {
  width: 56px;
  height: 56px;
  margin-right: 25px;
}
.alert__icon img {
  width: 100%;
}
.alert__title {
  margin-bottom: 20px;
}
.alert__text {
  font-size: 18px;
  line-height: 22px;
  color: var(--grey-color-53);
}