.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
}
.breadcrumb {
  display: flex;
  &__item {
    margin-right: 13px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    color: var(--grey-color-99);
    text-transform: uppercase;
    font-weight: 400;
    &::after {
      position: absolute;
      content: "/";
      right: 0;
      color: inherit;
    }
    &.active {
      color: var(--dark-color-20);
    }
    &:last-child {
      &::after {
        content: "";
      }
    }
  }
  &-big {
    .breadcrumb__item {
      font-size: 14px;
      line-height: 30px;
    }
  }
  &-medium {
    .breadcrumb__item {
      font-size: 12px;
      line-height: 30px;
    }
  }
  &-small {
    .breadcrumb__item {
      font-size: 10px;
      line-height: 30px;
    }
  }
}
